<!-- Desktop Screen: -->
<div *ngIf="desktop">
    <div class="content2">
        <div class="content-image">
            <img draggable="false" (dragstart)="false;" src="../../assets/images/purple.jpg" alt="background picture"
                height="1100px" width="100%">
        </div>
        <div class="content">
            <div class="content-1">
                <div class="content-1-title">
                    What i can Offer:
                    <div class="content-1-text">
                        <ul>
                            <li>Web development</li>
                            <li>Desktop development</li>
                            <li>Frontend development</li>
                            <li>Backend development</li>
                            <li>Hosting</li>
                            <li>IT-Support</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="content-2-title">
                    Recent Work:
                    <div class="content-2-text">
                        <ul>
                            <li>Website and Hosting for:
                                <a href="http://www.scherergartengestaltung.ch/">
                                    Scherer Gartengestalstung & Pflege
                                </a>
                            </li>
                            <li>Website and Hosting for:
                                <a href="https://postprice.ch/">
                                    Post Price App
                                </a>
                            </li>
                            <li>Backend development for:
                                <a href="https://github.com/jeremykailaederach/commit-bot">
                                    Commit Bot
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Phone Screen: -->
<div *ngIf="phone">
    <div class="content2-phone">
        <div class="content-image-phone">
            <img draggable="false" (dragstart)="false;" src="../../assets/images/purple.jpg" alt="background picture"
                height="1100px" width="100%">
        </div>
        <div class="content-phone">
            <div class="content-1-phone">
                <div class="content-1-title-phone">
                    What i can Offer:
                    <div class="content-1-text-phone">
                        <ul>
                            <li class="li-phone">Web development</li>
                            <li class="li-phone">Desktop development</li>
                            <li class="li-phone">Frontend development</li>
                            <li class="li-phone">Backend development</li>
                            <li class="li-phone">Hosting</li>
                            <li class="li-phone">IT-Support</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-2-phone">
                <div class="content-2-title-phone">
                    Recent Work:
                    <div class="content-2-text-phone">
                        <ul>
                            <li class="li-phone">Website and Hosting for:
                                <a href="http://www.scherergartengestaltung.ch/">
                                    Scherer Gartengestalstung & Pflege
                                </a>
                            </li>
                            <li class="li-phone">Website and Hosting for:
                                <a href="https://postprice.ch/">
                                    Post Price App
                                </a>
                            </li>
                            <li class="li-phone">Backend development for:
                                <a href="https://github.com/jeremykailaederach/commit-bot">
                                    Commit Bot
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>