// Desktop Screen:
.content2 {
    position: relative;
    color: rgb(255, 255, 255);
    animation: fadeIn linear 1.5s;
    -webkit-animation: fadeIn linear 1.5s;
    -moz-animation: fadeIn linear 1.5s;
    -o-animation: fadeIn linear 1.5s;
    -ms-animation: fadeIn linear 1.5s;
}

.content-1-title {
    position: absolute;
    left: 350px;
    top: 230px;
    color: white;
    font-size: 35px;
    font-weight: 100;
}

.content-1-text {
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.content-2-title {
    position: absolute;
    right: 350px;
    top: 230px;
    color: white;
    font-size: 35px;
    font-weight: 100;
}

.content-2-text {
    color: white;
    font-size: 20px;
    font-weight: 100;
}

li {
    margin-top: 40px;
}

a {
    font-size: large;
    font-weight: 100;
    margin: 30px;
    color: grey;
    text-decoration: none;
}

a:hover {
    color: white;
    border-bottom: 1px solid;
    transition: 0.1s;
}

// Phone Screen:
.content2-phone {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    animation: fadeIn linear 1.5s;
    -webkit-animation: fadeIn linear 1.5s;
    -moz-animation: fadeIn linear 1.5s;
    -o-animation: fadeIn linear 1.5s;
    -ms-animation: fadeIn linear 1.5s;
}

.content-1-title-phone {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 160px;
    color: white;
    font-size: 35px;
    font-weight: 100;
}

.content-1-text-phone {
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.content-2-title-phone {
    position: absolute;
    left: 10px;
    right: 30px;
    top: 730px;
    color: white;
    font-size: 35px;
    font-weight: 100;
}

.content-2-text-phone {
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.li-phone {
    margin-top: 40px;
    list-style-type: none;
}

a {
    font-size: large;
    font-weight: 100;
    margin: 30px;
    color: grey;
    text-decoration: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}