<!-- Desktop Screen: -->
<div *ngIf="desktop">
    <div class="content2">
        <div class="content-image">
            <img draggable="false" (dragstart)="false;" src="../../assets/images/purple.jpg" alt="background picture"
                height="1100px" width="100%">
        </div>
        <div class="content">
            <div class="content-1">
                <div class="content-1-title">
                    Recent Work:
                    <div class="content-1-text">
                        <ul>
                            <li>Website for *link*</li>
                            <li>Hosting for *link*</li>
                            <li>Website for *link*</li>
                            <li>Hosting for *link*</li>
                            <li>Website for *link*</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="content-2-title">
                    Finished Projects:
                    <div class="content-2-text">
                        <ul>
                            <li>Website for *link*</li>
                            <li>Hosting for *link*</li>
                            <li>Website for *link*</li>
                            <li>Hosting for *link*</li>
                            <li>Website for *link*</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Phone Screen: -->
<div *ngIf="phone">
</div>