// Desktop Screen:
.content2 {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    animation: fadeIn linear 1.5s;
    -webkit-animation: fadeIn linear 1.5s;
    -moz-animation: fadeIn linear 1.5s;
    -o-animation: fadeIn linear 1.5s;
    -ms-animation: fadeIn linear 1.5s;
}

.content-form {
    position: absolute;
    left: 350px;
    top: 185px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.content-form-text {
    margin-bottom: 50px;
    font-size: large;
    font-weight: 100;
}

.content-form-Button {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.content-socials {
    position: absolute;
    top: 248px;
    right: 350px;
}

.content-socials-text {
    margin-bottom: 50px;
    font-size: large;
    font-weight: 100;
}

.content-socials-title {
    font-size: large;
    font-weight: 100;
    margin: 30px;
}

a {
    font-size: large;
    font-weight: 100;
    margin: 30px;
    color: grey;
    text-decoration: none;
}

a:hover {
    color: white;
    border-bottom: 1px solid;
    transition: 0.1s;
}

.email {
    display: inline-block;
    pointer-events: none;
}

// Phone Screen:
.content2-phone {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    animation: fadeIn linear 1.5s;
    -webkit-animation: fadeIn linear 1.5s;
    -moz-animation: fadeIn linear 1.5s;
    -o-animation: fadeIn linear 1.5s;
    -ms-animation: fadeIn linear 1.5s;
}

.content-form-phone {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.content-form-text-phone {
    margin-bottom: 50px;
    font-size: large;
    font-weight: 100;
}

.content-form-Button-phone {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.content-socials-phone {
    position: absolute;
    top: 660px;
    right: 10px;
    left: 10px;
}

.content-socials-text-phone {
    margin-bottom: 50px;
    font-size: large;
    font-weight: 100;
}

.content-socials-title-phone {
    font-size: large;
    font-weight: 100;
    margin: 30px;
}

a {
    font-size: large;
    font-weight: 100;
    margin: 30px;
    color: grey;
    text-decoration: none;
}

.email {
    display: inline-block;
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: rgb(255, 255, 255);
    }
    .mat-form-field-label {
        color: rgb(255, 255, 255);
    }
    .mat-form-field-underline {
        background-color: rgba(0, 0, 0, 0.501);
    }
    .mat-form-field-ripple {
        background-color: rgb(255, 255, 255);
    }
    .mat-form-field-required-marker {
        color: rgb(255, 255, 255);
    }
}
