<!-- Desktop Screen: -->
<div *ngIf="desktop">
    <div class="content2">
        <div class="content-image">
            <img src="../../assets/images/blue.jpg" alt="background picture" height="1100px" width="100%">
        </div>
        <div class="content">

            <div class="content-form">

                <div class="content-form-text">If you want to get in touch with me, you can simply write to me via the
                    website</div>
                <mat-form-field class="content-form-input">
                    <mat-label>First Name *</mat-label>
                    <input matInput placeholder="" autocomplete="off" type="text">
                </mat-form-field>

                <mat-form-field class="content-form-input">
                    <mat-label>Last Name *</mat-label>
                    <input matInput placeholder="" autocomplete="off" type="text">
                </mat-form-field>

                <mat-form-field class="content-form-input" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="content-form-input" appearance="fill">
                    <mat-label>Message *</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>

                <button mat-raised-button class="content-form-Button">Send Message</button>

            </div>

            <div class="content-socials">
                <div class="content-socials-text">Or if you prefer, feel free to message me on my socials</div>
                <div class="content-socials-title">Instagram: <button mat-button
                        class="content-socials-button-instagram">jeremylaederach</button></div>

                <div class="content-socials-title">Facebook: <button mat-button
                        class="content-socials-button-facebook">jeremylaederach</button></div>

                <div class="content-socials-title">Email: <button mat-button
                        class="content-socials-button-email">info@jeremylaederach.ch</button></div>

            </div>
        </div>
    </div>
</div>

<!-- Phone Screen: -->
<div *ngIf="phone">
</div>