<!-- Desktop Screen: -->
<div *ngIf="desktop">
    <div class="content">
        <div class="content-image">
            <img draggable="false" (dragstart)="false;" src="../../assets/images/red_blue.jpg" alt="background picture" height="1100px" width="100%">
        </div>
        <div class="content-text">
            <div>Hello, it's me JJ.</div>
            <div class="content-undertext">Learn about my work
                <button routerLinkActive="active" [routerLink]="['/work']" class="content-undertext-button"
                    mat-icon-button color="primary">
                    <mat-icon>trending_flat</mat-icon>
                </button>
            </div>
        </div>
        <div class="content-text2">
            <div class="content-text2-title">About me</div>
            <div>
                I'm a young enthusiastic software developer. I am currently doing an apprenticeship as a computer
                scientist specializing in application development. I love working as a software developer because every
                assignment is unique.
            </div>
            <div class="content-undertext2">Learn more about me
                <button routerLinkActive="active" [routerLink]="['/me']" class="content-undertext-button2"
                    mat-icon-button color="primary">
                    <mat-icon>trending_flat</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Phone Screen: -->
<div *ngIf="phone">
    <div class="content-phone">
        <div class="content-image-phone">
            <img draggable="false" (dragstart)="false;" src="../../assets/images/red_blue.jpg" alt="background picture" height="900px" width="100%">
        </div>
        <div class="content-text-phone">
            <div>Hello, it's me JJ.</div>
            <div class="content-undertext-phone">Learn about my work
                <button routerLinkActive="active" [routerLink]="['/work']" class="content-undertext-button-phone"
                    mat-icon-button color="primary">
                    <mat-icon>trending_flat</mat-icon>
                </button>
            </div>
        </div>
        <div class="content-text2-phone">
            <div class="content-text2-title-phone">About me</div>
            <div>
                I'm a young enthusiastic software developer. I am currently doing an apprenticeship as a computer
                scientist specializing in application development. I love working as a software developer because every
                assignment is unique.
            </div>
            <div class="content-undertext2-phone">Learn more about me
                <button routerLinkActive="active" [routerLink]="['/me']" class="content-undertext-button2-phone"
                    mat-icon-button color="primary">
                    <mat-icon>trending_flat</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>