// Desktop Screen:
.content {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);

    animation: fadeIn linear 1.5s;
    -webkit-animation: fadeIn linear 1.5s;
    -moz-animation: fadeIn linear 1.5s;
    -o-animation: fadeIn linear 1.5s;
    -ms-animation: fadeIn linear 1.5s;
}

.content-text {
    position: absolute;
    bottom: 700px;
    left: 350px;
    font-size: 60px;
}

.content-undertext {
    color: grey;
    font-size: 30px;
    float: left;
    margin-top: 5px;
    font-weight: 100;
}

.content-undertext-button {
    color: grey;
}

.content-undertext-button:hover {
    background-color: gray;
    color: black;
    transition: 0.5s;
}

.content-text2 {
    position: absolute;
    top: 550px;
    right: 350px;
    left: 900px;
    font-weight: 100;
}

.content-text2-title {
    margin-bottom: 20px;
    font-weight: 500;
}

.content-undertext2 {
    color: grey;
    font-size: 15px;
    margin-top: 5px;
}

.content-undertext-button2 {
    color: grey;
}

.content-undertext-button2:hover {
    background-color: gray;
    color: black;
    transition: 0.5s;
}

// Phone Screen:
.content-phone {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);

    animation: fadeIn linear 1.5s;
    -webkit-animation: fadeIn linear 1.5s;
    -moz-animation: fadeIn linear 1.5s;
    -o-animation: fadeIn linear 1.5s;
    -ms-animation: fadeIn linear 1.5s;
}

.content-text-phone {
    position: absolute;
    top: 160px;
    right: 10px;
    left: 10px;
    font-size: 50px;
}

.content-undertext-phone {
    color: grey;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 100;
}

.content-undertext-button-phone {
    color: grey;
}

.content-text2-phone {
    position: absolute;
    top: 350px;
    right: 10px;
    left: 10px;
    font-weight: 100;
}

.content-text2-title-phone {
    margin-bottom: 20px;
    font-weight: 500;
}

.content-undertext2-phone {
    color: grey;
    font-size: 15px;
    margin-top: 5px;
}

.content-undertext-button2-phone {
    color: grey;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}