// Desktop Screen:
.header {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.header-text {
    position: absolute;
    bottom: 600px;
    left: 350px;
    font-size: 50px;
}

.header-undertext {
    color: grey;
    font-size: 20px;
    float: left;
    margin-top: 5px;
}

.header-undertext-button {
    color: grey;
}

.header-text2 {
    position: absolute;
    bottom: 350px;
    right: 350px;
    left: 1200px;
}

.header-undertext2 {
    color: grey;
    font-size: 15px;
    margin-top: 5px;
}

.header-undertext-button2 {
    color: grey;
}


.main {
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 300px;
}

.main-text {
    font-size: 30px;
}

.main-images {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-image {
    transition: transform 0.2s;
}

.main-image:hover {
    transform: scale(1.2);
}

mat-grid-tile {
    border-radius: 30px;
}

// Phone Screen:
.header-phone {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.header-text-phone {
    position: absolute;
    bottom: 50px;
    border-radius: 30px;
}

.main-phone {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.main-text-phone {
    font-size: 20px;
}

.main-images-phone {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-image-phone {
    transition: transform 0.2s;
}

.main-image-phone:hover {
    transform: scale(1.2);
}

mat-grid-tile {
    border-radius: 30px;
}
