<!-- Desktop Screen: -->
<div *ngIf="desktop">
    <div class="header">
        <div class="header-image">
            <img src="../../assets/images/dark-blur-abstract.jpg" alt="background picture" height="1100px" width="100%">
        </div>
        <div class="header-text">
            <div>Hello, it's me JJ</div>
            <div class="header-undertext">Learn more about me
                <button class="header-undertext-button" mat-icon-button color="primary">
                    <mat-icon>trending_flat</mat-icon>
                </button>
            </div>
        </div>
        <div class="header-text2">
            <h3>My Work</h3>
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, ad et? Quaerat, cumque. Repellat atque
                eius adipisci repudiandae expedita numquam enim, doloremque deleniti odit quaerat eveniet eos, veritatis
                neque modi!
            </div>
            <div class="header-undertext2">More about my Work
                <button class="header-undertext-button2" mat-icon-button color="primary">
                    <mat-icon>trending_flat</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Phone Screen: -->
<div *ngIf="phone">
    <div class="header-phone">
        <div class="header-image-phone">
            <img src="../../assets/images/dark-blur-abstract.jpg" alt="background picture" height="400px" width="100%">
        </div>
        <div class="header-text-phone">
            <h1>Jeremy Laederach & TO DO</h1>
            <h3>Software Developer</h3>
        </div>
    </div>
    <div class="main-phone">
        <div class="main-text-phone">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ea iusto suscipit, alias quis error
            temporibus deleniti, harum eius tempora impedit ab dolorem nam, placeat laudantium architecto dolores?
            Laborum, a!
        </div>
    </div>
</div>