// Desktop Screen:
.header {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.header-text {
    position: absolute;
    bottom: 600px;
    left: 350px;
    font-size: 50px;
}

.header-undertext {
    color: grey;
    font-size: 20px;
    float: left;
    margin-top: 5px;
}

.header-undertext-button {
    color: grey;
}

.header-text2 {
    position: absolute;
    bottom: 350px;
    right: 350px;
    left: 900px;
}

.header-undertext2 {
    color: grey;
    font-size: 15px;
    margin-top: 5px;
}

.header-undertext-button2 {
    color: grey;
}

// Phone Screen:
.header-phone {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.header-text-phone {
    position: absolute;
    bottom: 650px;
    left: 75px;
    font-size: 20px;
}

.header-undertext-phone {
    color: grey;
    font-size: 20px;
    float: left;
    margin-top: 5px;
}

.header-undertext-button-phone {
    color: grey;
}

.header-text2-phone {
    position: absolute;
    bottom: 400px;
    left: 10px;
    font-size: 15px;
}

.header-undertext2-phone {
    color: grey;
    font-size: 15px;
    margin-top: 5px;
}

.header-undertext-button2-phone {
    color: grey;
}